.BeatView {
    display: flex;
    flex-flow: row;
    align-content: stretch;
    width: 100%;
    color: #fef20c;
    border-bottom: 1px solid darkgrey;
    padding: 0;
    margin: 0;
}

.BeatView__title {
    padding: 1em;
    font-size: larger;
    font-weight: bolder;
    flex: 0.7;
    border: 0;
    overflow: hidden;
}

.BeatView__bar {
    font-size: larger;
    padding: 1em;
    flex: 0.3;
    border: 0;
    overflow: hidden;
    text-align: right;
}

