.ButtonBar {
    place-content: center;
    border-bottom: 1px solid darkgrey;
}

.ButtonBar__Button {
    padding: 1em;
    background-color: transparent;
    border: 0;
    outline: transparent;
    font-size: 1.5em;
    color: lightgray;
    cursor: pointer;
}

.ButtonBar__Button.red {
    background-color: red;
    color: white;
}

.ButtonBar__Button.green {
    background-color: green;
    color: white;
}

.ButtonBar__Button.red:disabled, .ButtonBar__Button.red[disabled] {
    background-color: #7e0000;
}

.ButtonBar__Button.green:disabled, .ButtonBar__Button.green[disabled] {
    background-color: #005c00;
}


.ButtonBar__Button:disabled, .ButtonBar__Button[disabled] {
    color: black;
    pointer-events: none;
}

/* one item */
.ButtonBar__Button:first-child:nth-last-child(1) {
    /* -or- li:only-child { */
    width: 100%;
}

/* two items */
.ButtonBar__Button:first-child:nth-last-child(2),
.ButtonBar__Button:first-child:nth-last-child(2) ~ .ButtonBar__Button {
    width: 50%;
}

/* three items */
.ButtonBar__Button:first-child:nth-last-child(3),
.ButtonBar__Button:first-child:nth-last-child(3) ~ .ButtonBar__Button {
    width: 33.3333%;
}

/* four items */
.ButtonBar__Button:first-child:nth-last-child(4),
.ButtonBar__Button:first-child:nth-last-child(4) ~ .ButtonBar__Button {
    width: 25%;
}