html {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-size: larger;
    box-sizing: border-box;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
    padding: 0;
    border: 0;
    margin: 0;
}

#root {
    padding: 0;
    border: 0;
    margin: 0;
    display: grid;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    color: #242424;
    overflow: hidden;
    grid-template-rows: 4em auto 3em 4em auto;
}

/*
@media screen and (min-width: 800px ) {
    #root {
        grid-template-columns: 40% auto;
        grid-template-areas:
                "header header"
                "songlist songstruct"
                "pulsebar songstruct"
                "beatview songstruct"
                "footer footer";
    }
}

@media screen and (max-width: 799px ) {
}
 */

#root {
    grid-template-columns: 100%;
    grid-template-areas:
                "header"
                "songlist"
                "pulsebar"
                "beatview"
                "footer";
}

.songstruct {
    display: none;
}

.header {
    grid-area: header;
}

.songlist {
    grid-area: songlist;
}

.songstruct {
    grid-area: songstruct;
}

.pulsebar {
    grid-area: pulsebar;
}

.beatview {
    grid-area: beatview;
}

.footer {
    grid-area: footer;
}

body.dark {
    background-color: #242424;
    color: #ffffff;
}

.dark #root {
    background-color: #242424;
    color: #ffffff;
}

h1 {
    font-size: 3.2em;
    line-height: 1.1;
}