.PulseBar {
    display: flex;
    align-content: stretch;
    place-content: stretch;
    width: 100%;
    border: 0;
}

/* one item */
.Pulse:first-child:nth-last-child(1) {
    /* -or- li:only-child { */
    width: 100%;
}

/* two items */
.Pulse:first-child:nth-last-child(2),
.Pulse:first-child:nth-last-child(2) ~ .Pulse {
    width: 50%;
}

/* three items */
.Pulse:first-child:nth-last-child(3),
.Pulse:first-child:nth-last-child(3) ~ .Pulse {
    width: 33.3333%;
}

/* four items */
.Pulse:first-child:nth-last-child(4),
.Pulse:first-child:nth-last-child(4) ~ .Pulse {
    width: 25%;
}

/* five items */
.Pulse:first-child:nth-last-child(5),
.Pulse:first-child:nth-last-child(5) ~ .Pulse {
    width: 20%;
}

/* six items */
.Pulse:first-child:nth-last-child(6),
.Pulse:first-child:nth-last-child(6) ~ .Pulse {
    width: 16.6666%;
}

.Pulse {
    flex: 1;
    place-self: center;
}

.Pulse__bubble {
    border-radius: 0.5em;
    margin-left: auto;
    margin-right: auto;
    width: 1em;
    height: 1em;
    background-color: black;
}

.Pulse__bubble.yellow {
    background: rgba(0, 0, 0, 0.79);
    box-shadow: 0 0 0 0 #828282;
}

.Pulse__bubble.yellow.active {
    background: #fef20c;
}