.Pulse {
    display: inline-block;
    align-content: center;
    text-align: center;
}

.Pulse__bubble {
    border-radius: 0.5em;
    width: 1em;
    height: 1em;
    background-color: black;
}

.Pulse__bubble.yellow {
    background: rgba(0, 0, 0, 0.79);
    box-shadow: 0 0 0 0 #828282;
}

.Pulse__bubble.yellow.active {
    background: #fef20c;
}