name: build
on: 
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Setup node
      uses: actions/setup-node@v2
      with:
        node-version: 'v20.9.0'
    - name: Checkout code
      uses: actions/checkout@v2
    - name: Run npm build
      run: npm install && npm run build
    - name: Deploy to gh-pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: ./dist/
